154 DIALOGEX 0, 0, 287, 292, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Búsqueda en RAM"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CONTROL "", 1205, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00009009, 9, 9, 214, 151, WS_EX_CLIENTEDGE
 PUSHBUTTON "&Buscar", 1206, 226, 9, 52, 16
 PUSHBUTTON "&Agregar truco", 1207, 226, 130, 52, 14, WS_DISABLED
 PUSHBUTTON "&Observar", 1208, 226, 114, 52, 14
 PUSHBUTTON "&Resetear", 1209, 226, 27, 52, 16
 PUSHBUTTON "&Eliminar", 1210, 226, 98, 52, 14
 GROUPBOX "Operador de comparador", -1, 10, 166, 102, 120, 0, WS_EX_TRANSPARENT
 AUTORADIOBUTTON "Menos que", 1211, 14, 178, 95, 11, WS_GROUP
 AUTORADIOBUTTON "Mayor que", 1212, 14, 191, 95, 11
 AUTORADIOBUTTON "Menor que o Igual a", 1213, 14, 204, 95, 11
 AUTORADIOBUTTON "Mayor que o Igual a", 1214, 14, 217, 95, 11
 AUTORADIOBUTTON "Igual a", 1215, 14, 230, 95, 11
 AUTORADIOBUTTON "No igual a", 1216, 14, 243, 95, 11
 AUTORADIOBUTTON "Diferente de:", 1217, 14, 256, 52, 11
 AUTORADIOBUTTON "Módulo", 1218, 14, 269, 35, 11
 EDITTEXT 1219, 69, 255, 38, 12, ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED
 EDITTEXT 1220, 51, 267, 38, 12, ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED
 GROUPBOX "Comparar a / Por", -1, 118, 166, 153, 60, 0, WS_EX_TRANSPARENT
 AUTORADIOBUTTON "Valor previo", 1221, 121, 176, 67, 10, WS_GROUP
 AUTORADIOBUTTON "Valor específico", 1222, 121, 188, 67, 10
 AUTORADIOBUTTON "Dirección específica:", 1223, 121, 200, 75, 10
 AUTORADIOBUTTON "Número de cambios:", 1224, 121, 212, 76, 10
 EDITTEXT 1225, 203, 187, 63, 12, ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED
 EDITTEXT 1226, 203, 199, 63, 12, ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED
 EDITTEXT 1227, 203, 211, 63, 12, ES_UPPERCASE | ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
 GROUPBOX "Tipo datos / Mostrar", -1, 196, 228, 75, 45, 0, WS_EX_TRANSPARENT
 AUTORADIOBUTTON "Firmado", 1228, 200, 238, 67, 9, WS_GROUP
 AUTORADIOBUTTON "No firmado", 1229, 200, 249, 67, 9
 AUTORADIOBUTTON "Hexadecimal", 1230, 200, 260, 67, 9
 AUTOCHECKBOX "Autobúsqueda", 1231, 200, 275, 57, 11
 GROUPBOX "Tamaño de datos", -1, 117, 228, 73, 58, 0, WS_EX_TRANSPARENT
 AUTORADIOBUTTON "1 byte", 1232, 121, 238, 61, 11, WS_GROUP
 AUTORADIOBUTTON "2 bytes", 1233, 121, 249, 61, 11
 AUTORADIOBUTTON "4 bytes", 1234, 121, 260, 61, 11
 AUTOCHECKBOX "Ver desalineado", 1235, 121, 273, 65, 8
 PUSHBUTTON "&Limpiar conteo de cambios", 1236, 226, 45, 52, 20, BS_MULTILINE
 PUSHBUTTON "&Deshacer", 1237, 226, 67, 52, 16, WS_DISABLED
 LTEXT "Es", -1, 92, 270, 12, 8
 AUTOCHECKBOX "Buscar ROM", 1258, 227, 85, 54, 11
 PUSHBUTTON "Editor &Hex", 1238, 226, 146, 52, 14
}
