155 DIALOGEX 0, 0, 269, 298, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
MENU "RAMWATCH_MENU"
CAPTION "Búsqueda RAM "
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CONTROL "", 1238, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00009009, 9, 9, 210, 279, WS_EX_CLIENTEDGE
 PUSHBUTTON "Editar", 1239, 226, 66, 34, 14
 PUSHBUTTON "Quitar", 1240, 226, 83, 34, 14
 PUSHBUTTON "Nuevo", 1208, 226, 100, 34, 14
 PUSHBUTTON "Duplicar", 1241, 226, 117, 34, 14
 PUSHBUTTON "Agregar truco", 1207, 222, 163, 42, 16, WS_DISABLED
 GROUPBOX "Búsquedas", -1, 222, 6, 42, 152
 CONTROL "", 1242, "msctls_updown32", WS_TABSTOP, 232, 23, 19, 36
 PUSHBUTTON "Separador", 1259, 225, 137, 36, 14
}
