156 DIALOGEX 0, 0, 177, 115, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION " Editar Observación"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CTEXT "&Dirección:", 1223, 15, 12, 34, 8, NOT WS_VISIBLE | WS_DISABLED
 EDITTEXT 1226, 48, 10, 65, 12, ES_UPPERCASE | ES_AUTOHSCROLL | NOT WS_VISIBLE | WS_DISABLED
 EDITTEXT 1227, 48, 10, 65, 12, ES_UPPERCASE | ES_AUTOHSCROLL | NOT WS_VISIBLE | WS_DISABLED
 CTEXT "&Notas:", 1245, 23, 24, 22, 8
 EDITTEXT 1247, 48, 22, 119, 12, ES_AUTOHSCROLL
 GROUPBOX "Tipo de datos", 1311, 14, 37, 75, 53, 0, WS_EX_TRANSPARENT
 AUTORADIOBUTTON "&Firmado", 1228, 18, 47, 67, 9, WS_GROUP
 AUTORADIOBUTTON "&Sin firmar", 1229, 18, 57, 67, 9
 AUTORADIOBUTTON "&Hexadecimal", 1230, 18, 67, 67, 9
 AUTORADIOBUTTON "&Binario", 1317, 18, 77, 67, 9
 GROUPBOX "Tamaño de datos", 1310, 94, 37, 73, 52, 0, WS_EX_TRANSPARENT
 AUTORADIOBUTTON "&1 byte", 1232, 98, 47, 61, 11, WS_GROUP
 AUTORADIOBUTTON "&2 bytes", 1233, 98, 57, 61, 11
 AUTORADIOBUTTON "&4 bytes", 1234, 98, 67, 61, 11
 DEFPUSHBUTTON "Aceptar", 1, 66, 93, 50, 14
 PUSHBUTTON "Cancelar", 2, 118, 93, 50, 14
}
