159 DIALOGEX 0, 0, 270, 150, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CLIPCHILDREN | WS_CAPTION | WS_THICKFRAME
EXSTYLE = WS_EX_APPWINDOW
MENU "LUAWINDOW_MENU"
CAPTION "Lua Script"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "Script File:", -1, 7, 7, 36, 8
 EDITTEXT 1251, 7, 16, 256, 14, ES_AUTOHSCROLL
 PUSHBUTTON "&Buscar...", 1248, 7, 31, 48, 16
 PUSHBUTTON "Editar", 1253, 58, 31, 46, 16
 PUSHBUTTON "&Parar", 1250, 160, 31, 50, 16
 PUSHBUTTON "&Reproducir", 1249, 213, 31, 50, 16
 LTEXT "Salida consola:", -1, 7, 70, 56, 8
 EDITTEXT 1252, 7, 80, 256, 60, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
 LTEXT "Argumentos:", -1, 7, 52, 40, 8
 EDITTEXT 1256, 47, 50, 216, 14, ES_AUTOHSCROLL
}
