195 DIALOGEX 0, 0, 123, 197, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Salvado compacto"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Salvar", 1, 8, 176, 50, 14
 PUSHBUTTON "Cancelar", 2, 66, 176, 50, 14
 AUTOCHECKBOX "Formato binario de entrada", 1203, 23, 8, 98, 10
 AUTOCHECKBOX "Marcadores", 1204, 23, 23, 67, 10
 AUTOCHECKBOX "Favoritos", 1205, 23, 38, 67, 10
 AUTOCHECKBOX "Historial", 1207, 23, 53, 67, 10
 AUTOCHECKBOX "Rollo piano / Piano Roll", 1209, 23, 68, 89, 10
 AUTOCHECKBOX "Selección", 1208, 23, 83, 67, 10
 GROUPBOX "Opciones salvar Greenzone", -1, 13, 98, 97, 72
 AUTORADIOBUTTON "Todos los fotogramas", 1138, 23, 109, 80, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Cada 16º fotograma", 1139, 23, 124, 77, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Fotogramas marcados", 1140, 23, 139, 85, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "No salvar", 1141, 23, 154, 77, 10, NOT WS_TABSTOP
}
