196 DIALOGEX 0, 0, 158, 86, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Exportar a FM2"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 AUTORADIOBUTTON " 1 jugador", 1269, 8, 8, 47, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON " 2 jugadores", 1270, 8, 21, 57, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON " Fourscore", 1271, 8, 35, 47, 10, NOT WS_TABSTOP
 AUTOCHECKBOX " Convertir notas de marcador a subtitulos", 1203, 8, 50, 146, 10
 DEFPUSHBUTTON "Exportar", 1, 7, 66, 50, 14
 PUSHBUTTON "Cancelar", 2, 100, 66, 50, 14
}
