198 DIALOGEX 0, 0, 228, 49, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Encontrar nota"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Encontrar sig.", 1, 171, 5, 51, 14
 PUSHBUTTON "Cerrar", 2, 171, 23, 51, 14
 EDITTEXT 1147, 6, 6, 160, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Coinci. exacta", 1203, 9, 23, 65, 10
 GROUPBOX "Dirección", -1, 82, 20, 83, 24, BS_CENTER
 AUTORADIOBUTTON "Arriba", 1138, 90, 30, 29, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Abajo", 1273, 125, 30, 32, 10, NOT WS_TABSTOP
}
