202 DIALOGEX 0, 0, 171, 100, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Crear nuevo archivo de proyecto"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 AUTOCHECKBOX "Copiar entrada actual", 1203, 80, 14, 90, 10
 AUTORADIOBUTTON " 1 jugador", 1269, 16, 14, 45, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON " 2 jugadores", 1270, 16, 27, 50, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON " Fourscore", 1271, 16, 40, 45, 10, NOT WS_TABSTOP
 AUTOCHECKBOX "Copiar marcadores act.", 1204, 80, 27, 90, 10
 GROUPBOX "Tipo de entrada", -1, 5, 3, 67, 52, BS_CENTER
 LTEXT "Autor:", -1, 8, 63, 26, 9
 EDITTEXT 1180, 36, 61, 127, 13, ES_AUTOHSCROLL
 DEFPUSHBUTTON "Aceptar", 1, 7, 80, 50, 14
 PUSHBUTTON "Cancelar", 2, 114, 80, 50, 14
}
