290 DIALOGEX 0, 0, 269, 167, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Denominación de depuración simbólica"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "&Arch:", -1, 7, 7, 15, 9
 EDITTEXT 1150, 26, 6, 234, 12, ES_AUTOHSCROLL | ES_READONLY
 LTEXT "&Dirección:", 1022, 13, 26, 30, 10
 EDITTEXT 1148, 45, 24, 33, 13, ES_AUTOHSCROLL | ES_READONLY
 AUTOCHECKBOX "Tam. A&rray: 0x", 1013, 83, 25, 60, 10
 EDITTEXT 1018, 144, 23, 26, 14, ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED
 LTEXT "byte(s)", 1027, 175, 26, 25, 8, WS_DISABLED
 LTEXT "&Init: 0x", 1029, 205, 26, 26, 8, WS_DISABLED
 EDITTEXT 1502, 234, 23, 26, 14, ES_UPPERCASE | ES_AUTOHSCROLL | WS_DISABLED
 LTEXT "&Nombre:", 1020, 15, 44, 30, 10
 EDITTEXT 1149, 45, 42, 215, 13, ES_AUTOHSCROLL
 AUTOCHECKBOX "& Sobrescribir nombres en el cuerpo de la matriz", 1026, 45, 59, 180, 10, WS_DISABLED
 LTEXT "&Comentario:", 1021, 4, 75, 40, 10
 EDITTEXT 1151, 45, 75, 215, 43, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
 AUTOCHECKBOX "Co&mentar sólo dirección de cabecera", 1023, 45, 122, 148, 10, WS_DISABLED
 AUTOCHECKBOX "S&obreescribir comentarios en el cuerpo de la matriz (array)", 1024, 45, 134, 220, 10, WS_DISABLED
 AUTOCHECKBOX "Borra&r", 1017, 7, 151, 37, 10
 DEFPUSHBUTTON "Aceptar", 1, 158, 148, 50, 14
 PUSHBUTTON "Cancelar", 2, 211, 148, 50, 14
}
