291 DIALOGEX 4, 109, 243, 121, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Configuración del Gamepad"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 DEFPUSHBUTTON "Cerrar", 1, 177, 97, 56, 14
 GROUPBOX "", 100, 4, 8, 232, 82, WS_GROUP
 PUSHBUTTON "Arriba", 304, 35, 36, 24, 12
 PUSHBUTTON "Izquierda", 306, 9, 54, 25, 12
 PUSHBUTTON "Derecha", 307, 60, 54, 24, 12
 PUSHBUTTON "Abajo", 305, 35, 73, 24, 12
 PUSHBUTTON "Select", 302, 91, 54, 26, 12
 PUSHBUTTON "Start", 303, 126, 54, 26, 12
 PUSHBUTTON "Y", 301, 164, 53, 16, 12
 PUSHBUTTON "B", 300, 181, 66, 16, 12
 PUSHBUTTON "A", 308, 199, 53, 16, 12
 PUSHBUTTON "X", 309, 181, 40, 16, 12
 PUSHBUTTON "L", 310, 10, 19, 32, 12
 PUSHBUTTON "R", 311, 198, 19, 32, 12
}
