303 DIALOGEX 0, 0, 331, 281, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Editor de cabeceras iNES"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "ROM NES:", -1, 7, 9, 35, 8
 EDITTEXT 1034, 47, 6, 231, 14, ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "Restaurar", 1014, 282, 6, 42, 14, WS_DISABLED
 GROUPBOX "Cabecera iNES", 1063, 7, 22, 317, 232, WS_DISABLED
 GROUPBOX "Versión", 1074, 14, 32, 79, 27, WS_DISABLED
 AUTORADIOBUTTON "iNES", 1071, 20, 43, 27, 10, WS_DISABLED | WS_GROUP
 AUTORADIOBUTTON "NES 2.0", 1073, 51, 43, 38, 10, WS_DISABLED | NOT WS_TABSTOP
 GROUPBOX "Mapeador", 1075, 98, 32, 217, 27, WS_DISABLED
 LTEXT "Mapeado#:", 1049, 104, 43, 33, 8, WS_DISABLED
 COMBOBOX 1026, 142, 41, 115, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_DISABLED | WS_VSCROLL
 LTEXT "Sub#:", 1050, 264, 43, 24, 8, WS_DISABLED
 EDITTEXT 1027, 291, 40, 15, 14, ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
 GROUPBOX "PRG", 1078, 14, 61, 301, 27, WS_DISABLED
 LTEXT "PRG ROM:", 1051, 20, 72, 34, 8, WS_DISABLED
 COMBOBOX 1018, 57, 70, 46, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_UPPERCASE | WS_DISABLED | WS_VSCROLL
 LTEXT "PRG RAM:", 1055, 118, 72, 34, 8, WS_DISABLED
 COMBOBOX 1025, 154, 70, 46, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_UPPERCASE | WS_DISABLED | WS_VSCROLL
 AUTOCHECKBOX "NVRAM/Batería", 1076, 215, 71, 86, 10, WS_DISABLED
 LTEXT "PRG NVRAM:", 1059, 215, 72, 42, 8, WS_DISABLED
 COMBOBOX 1029, 261, 70, 46, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_UPPERCASE | WS_DISABLED | WS_VSCROLL
 GROUPBOX "CHR", 1079, 14, 90, 301, 27, WS_DISABLED
 LTEXT "CHR ROM:", 1053, 20, 101, 35, 8, WS_DISABLED
 COMBOBOX 1019, 57, 99, 46, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_UPPERCASE | WS_DISABLED | WS_VSCROLL
 LTEXT "CHR RAM:", 1057, 118, 101, 34, 8, WS_DISABLED
 COMBOBOX 1028, 154, 99, 46, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_UPPERCASE | WS_DISABLED | WS_VSCROLL
 LTEXT "CHR NVRAM:", 1060, 214, 101, 43, 8, WS_DISABLED
 COMBOBOX 1030, 261, 99, 46, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_UPPERCASE | WS_DISABLED | WS_VSCROLL
 GROUPBOX "Mirroring/Espejo", 1064, 14, 121, 59, 46, WS_DISABLED
 AUTORADIOBUTTON "Horizontal", 1020, 18, 131, 48, 10, WS_DISABLED | WS_GROUP
 AUTORADIOBUTTON "Vertical", 1021, 18, 142, 39, 10, WS_DISABLED | NOT WS_TABSTOP
 AUTORADIOBUTTON "4-Pantallas", 1022, 18, 153, 53, 10, WS_DISABLED | NOT WS_TABSTOP
 GROUPBOX "Región", 1065, 80, 121, 40, 58, WS_DISABLED
 AUTORADIOBUTTON "NTSC", 1031, 85, 131, 32, 10, WS_DISABLED | WS_GROUP
 AUTORADIOBUTTON "PAL", 1032, 85, 142, 28, 10, WS_DISABLED | NOT WS_TABSTOP
 AUTORADIOBUTTON "Dendy", 1037, 85, 153, 33, 10, WS_DISABLED | NOT WS_TABSTOP
 AUTORADIOBUTTON "Dual", 1033, 85, 165, 30, 10, WS_DISABLED | NOT WS_TABSTOP
 AUTOCHECKBOX "Trucos", 1024, 14, 171, 55, 10, WS_DISABLED
 GROUPBOX "Sistema", 1066, 127, 121, 188, 109, WS_DISABLED
 AUTORADIOBUTTON "Normal", 1038, 133, 133, 36, 10, WS_DISABLED | WS_GROUP
 AUTORADIOBUTTON "VS. Sys", 1039, 173, 133, 37, 10, WS_DISABLED | NOT WS_TABSTOP
 AUTORADIOBUTTON "Playchoice-10", 1040, 214, 133, 56, 10, WS_DISABLED | NOT WS_TABSTOP
 AUTORADIOBUTTON "Extend", 1041, 274, 133, 35, 10, WS_DISABLED | NOT WS_TABSTOP
 GROUPBOX "VS. System", 1067, 135, 145, 172, 46, WS_DISABLED
 LTEXT "Hardware:", 1068, 141, 157, 35, 8, WS_DISABLED
 COMBOBOX 1046, 179, 155, 121, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_DISABLED | WS_VSCROLL
 LTEXT "PPU:", 1069, 141, 174, 16, 8, WS_DISABLED
 COMBOBOX 1047, 160, 173, 140, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_DISABLED | WS_VSCROLL
 GROUPBOX "Extend System", 1089, 135, 195, 172, 29, WS_DISABLED
 LTEXT "Consola:", 1090, 141, 208, 29, 8, WS_DISABLED
 COMBOBOX 1043, 173, 206, 127, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_DISABLED | WS_VSCROLL
 AUTOCHECKBOX "Prop. no oficiales iNES 1.0", 1085, 14, 183, 110, 10, BS_MULTILINE | WS_DISABLED
 GROUPBOX "Prop. no oficiales iNES 1.0", 1081, 14, 195, 106, 35, WS_DISABLED
 AUTOCHECKBOX "Región Dual", 1083, 19, 205, 50, 10, BS_MULTILINE | WS_DISABLED
 AUTOCHECKBOX "Existe PRG RAM", 1082, 73, 207, 45, 17, BS_MULTILINE | WS_DISABLED
 AUTOCHECKBOX "Conflicto Bus", 1084, 19, 217, 53, 10, BS_MULTILINE | WS_DISABLED
 LTEXT "Dis. Entrada:", 1077, 114, 237, 44, 8, WS_DISABLED
 COMBOBOX 1036, 161, 235, 154, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_DISABLED | WS_VSCROLL
 LTEXT "ROM(s) Misc.", 1086, 29, 237, 48, 8, WS_DISABLED
 EDITTEXT 1087, 14, 234, 12, 14, ES_AUTOHSCROLL | ES_NUMBER | WS_DISABLED
 LTEXT "Hex:", -1, 9, 262, 16, 8
 EDITTEXT 1035, 29, 260, 203, 14, ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "Salvar como", 1012, 237, 260, 42, 14, WS_DISABLED
 DEFPUSHBUTTON "Cerrar", 8, 282, 260, 42, 14
}
