ADDBP DIALOGEX 66, 83, 197, 127, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Agregar punto de ruptura (Breakpoint)"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 LTEXT "Dirección:", -1, 14, 6, 30, 10
 CTEXT "-", 65534, 78, 6, 8, 8
 EDITTEXT 200, 48, 4, 30, 12, ES_UPPERCASE | ES_WANTRETURN
 EDITTEXT 201, 87, 4, 30, 12, ES_UPPERCASE | ES_WANTRETURN
 AUTOCHECKBOX "&Prohib.", 109, 154, 6, 33, 12
 GROUPBOX "", 112, 3, 18, 185, 50, WS_TABSTOP
 AUTOCHECKBOX "&Leer", 102, 13, 25, 35, 12
 AUTOCHECKBOX "Escr&ib.", 103, 49, 25, 35, 12
 AUTOCHECKBOX "&Ejecutar", 104, 86, 25, 40, 12
 GROUPBOX "Memoria", 108, 9, 39, 174, 24, WS_TABSTOP
 AUTORADIOBUTTON "&CPU Mem", 105, 13, 49, 50, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "&PPU Mem", 106, 68, 49, 50, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Sprite Mem", 107, 124, 49, 50, 10, NOT WS_TABSTOP
 LTEXT "C&ondición:", 65533, 7, 74, 34, 8
 EDITTEXT 202, 43, 72, 136, 14, ES_AUTOHSCROLL
 LTEXT "&Nombre:", 65532, 8, 92, 28, 8
 EDITTEXT 203, 43, 89, 136, 14, ES_AUTOHSCROLL
 DEFPUSHBUTTON "Aceptar", 1, 99, 110, 42, 13
 PUSHBUTTON "Cancelar", 2, 147, 110, 42, 13
}
