ARCHIVECHOOSERDIALOG DIALOGEX 0, 0, 265, 159, 0
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MAXIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION | WS_THICKFRAME
CAPTION "Elija Archivo desde otro archivo"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 146, 138, 50, 14
 PUSHBUTTON "Cancelar", 2, 208, 138, 50, 14
 LISTBOX 1130, 7, 7, 251, 120, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
}
