ASSEMBLER DIALOGEX 0, 0, 202, 135, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Ensamblador en línea"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 EDITTEXT 101, 23, 9, 171, 12, ES_READONLY
 COMBOBOX 100, 7, 25, 188, 54, CBS_DROPDOWN | WS_VSCROLL
 PUSHBUTTON "Aplicar", 201, 159, 114, 36, 14
 LTEXT "PC:", -1, 8, 11, 12, 8
 LTEXT "Parche:", -1, 8, 41, 28, 8
 PUSHBUTTON "Guardar", 202, 117, 114, 36, 14
 PUSHBUTTON "Deshacer", 203, 6, 114, 36, 14
 DEFPUSHBUTTON "Definir", 300, 46, 114, 36, 14, NOT WS_VISIBLE
 LISTBOX 102, 7, 50, 188, 59, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | LBS_NOSEL | WS_TABSTOP
}
