CHEATCONSOLE DIALOGEX 0, 0, 417, 227, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Búsqueda de trucos"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Trucos activos", 201, 5, 2, 199, 219, WS_TABSTOP
 AUTOCHECKBOX "Activar", 1096, 11, 12, 35, 10
 AUTO3STATE "Auto carga / salva con juego", 1013, 50, 12, 102, 10
 AUTOCHECKBOX "Ver GG", 1112, 156, 12, 42, 10
 CONTROL "", 101, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00008009, 11, 24, 187, 133
 LTEXT "Nomb.:", -1, 12, 162, 23, 8
 EDITTEXT 104, 40, 160, 158, 12, ES_AUTOHSCROLL | ES_WANTRETURN
 LTEXT "Dirección:", 1313, 12, 176, 30, 8
 EDITTEXT 102, 46, 174, 25, 12, ES_UPPERCASE | ES_WANTRETURN
 LTEXT "Valor:", 1314, 89, 176, 22, 8
 EDITTEXT 103, 115, 174, 16, 12, ES_UPPERCASE | ES_WANTRETURN
 LTEXT "Compara:", 1315, 145, 176, 34, 8
 EDITTEXT 111, 182, 174, 16, 12, ES_UPPERCASE | ES_WANTRETURN
 LTEXT "Cód. truco", 1312, 12, 190, 42, 8
 EDITTEXT 1147, 56, 188, 47, 12, ES_UPPERCASE | ES_AUTOHSCROLL
 LTEXT "Game Genie:", 1097, 107, 190, 43, 8
 EDITTEXT 1098, 151, 188, 47, 12, ES_UPPERCASE | ES_AUTOHSCROLL
 DEFPUSHBUTTON "Agrega", 301, 10, 202, 32, 16
 PUSHBUTTON "Borra", 302, 43, 202, 32, 16
 PUSHBUTTON "Actualiza", 303, 76, 202, 32, 16
 PUSHBUTTON "Importa..", 311, 117, 202, 40, 16
 PUSHBUTTON "Exporta..", 1011, 157, 202, 40, 16
 GROUPBOX "Búsqueda de truco", 202, 209, 2, 201, 206, WS_TABSTOP
 PUSHBUTTON "Reiniciar", 304, 221, 12, 55, 15
 PUSHBUTTON "Valor conocido:", 305, 221, 36, 55, 15
 LTEXT "0x", 1316, 246, 55, 9, 8
 EDITTEXT 105, 257, 53, 18, 12, ES_UPPERCASE
 GROUPBOX "Compara. previa", 204, 214, 68, 69, 135
 PUSHBUTTON "Igual", 306, 221, 79, 55, 15, WS_GROUP
 PUSHBUTTON "No igual", 307, 221, 99, 55, 15
 AUTOCHECKBOX "Por", 401, 233, 117, 22, 10
 EDITTEXT 108, 257, 116, 18, 12, ES_UPPERCASE | ES_WANTRETURN
 PUSHBUTTON "Mayor que", 308, 221, 134, 55, 15
 AUTOCHECKBOX "Por", 402, 233, 152, 22, 10
 EDITTEXT 109, 257, 151, 18, 12, ES_UPPERCASE | ES_WANTRETURN
 PUSHBUTTON "Menor que", 309, 221, 169, 55, 15
 AUTOCHECKBOX "Por", 403, 233, 187, 22, 10
 EDITTEXT 110, 257, 186, 18, 12, ES_UPPERCASE | ES_WANTRETURN
 GROUPBOX "Posibilidades", 203, 287, 8, 117, 195, WS_TABSTOP
 CONTROL "", 106, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000900D, 293, 18, 106, 179
 AUTOCHECKBOX "Pausar emulación cuando esta ventana esté activa", 1203, 209, 211, 180, 10, NOT WS_TABSTOP
}
