DEBUGGER DIALOGEX 54, 74, 557, 334, 0
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_OVERLAPPEDWINDOW | WS_POPUPWINDOW | WS_VISIBLE
MENU 312
CAPTION "Depurador 6502"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 CONTROL "", 300, "RichEdit20A", WS_BORDER | WS_HSCROLL | 0x00000904, 18, 5, 316, 312
 SCROLLBAR 301, 334, 5, 11, 312, SBS_VERT
 PUSHBUTTON "Eje.", 104, 351, 5, 38, 14
 PUSHBUTTON "Entrar en", 105, 392, 5, 39, 14
 PUSHBUTTON "Salir de", 106, 351, 21, 38, 14
 PUSHBUTTON "Paso sobre", 107, 392, 21, 39, 14
 PUSHBUTTON "Corre línea", 114, 351, 37, 38, 14
 PUSHBUTTON "128 Líneas", 115, 392, 37, 39, 14
 PUSHBUTTON "Buscar a:", 109, 351, 54, 38, 14
 EDITTEXT 309, 392, 55, 38, 12, ES_UPPERCASE | ES_WANTRETURN
 LTEXT "PC:", 65532, 349, 74, 13, 8
 EDITTEXT 307, 361, 72, 27, 12, ES_UPPERCASE | ES_WANTRETURN
 PUSHBUTTON "Busca PC", 108, 392, 71, 39, 14
 LTEXT "A:", 1049, 351, 92, 9, 8
 EDITTEXT 304, 359, 90, 15, 12, ES_UPPERCASE | ES_WANTRETURN
 LTEXT "X:", 65534, 378, 92, 9, 8
 EDITTEXT 305, 387, 90, 15, 12, ES_UPPERCASE | ES_WANTRETURN
 LTEXT "Y:", 65533, 406, 92, 9, 8
 EDITTEXT 306, 415, 90, 15, 12, ES_UPPERCASE | ES_WANTRETURN
 GROUPBOX "Breakpoints", 402, 434, 2, 116, 138, WS_TABSTOP
 LISTBOX 302, 438, 11, 107, 96, LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL
 PUSHBUTTON "Añade", 101, 438, 109, 31, 15
 PUSHBUTTON "Borra", 102, 476, 109, 31, 15, WS_DISABLED
 PUSHBUTTON "Edita", 103, 515, 109, 31, 15, WS_DISABLED
 AUTOCHECKBOX "Rompe en Bad Opcodes", 110, 440, 126, 94, 10
 GROUPBOX "Stack", 403, 349, 104, 81, 71, WS_TABSTOP
 EDITTEXT 308, 353, 113, 73, 58, ES_MULTILINE | ES_UPPERCASE | ES_NOHIDESEL | ES_READONLY | WS_VSCROLL
 GROUPBOX "Flags de Status", 401, 434, 140, 116, 35, WS_TABSTOP
 AUTOCHECKBOX "N", 200, 440, 149, 18, 12
 AUTOCHECKBOX "V", 201, 471, 149, 18, 12
 AUTOCHECKBOX "U", 202, 500, 149, 18, 12
 AUTOCHECKBOX "B", 203, 528, 149, 18, 12
 AUTOCHECKBOX "D", 204, 440, 161, 18, 12
 AUTOCHECKBOX "I", 205, 471, 161, 18, 12
 AUTOCHECKBOX "Z", 206, 500, 161, 18, 12
 AUTOCHECKBOX "C", 207, 528, 161, 18, 12
 GROUPBOX "", 405, 349, 174, 55, 53, WS_TABSTOP
 LTEXT "PPU:", 65531, 352, 180, 16, 8
 EDITTEXT 310, 371, 180, 28, 12, ES_UPPERCASE | ES_READONLY | ES_WANTRETURN | NOT WS_BORDER, WS_EX_TRANSPARENT
 LTEXT "Sprite:", 65530, 352, 192, 23, 8
 EDITTEXT 311, 376, 192, 23, 12, ES_UPPERCASE | ES_READONLY | ES_WANTRETURN | NOT WS_BORDER, WS_EX_TRANSPARENT
 LTEXT "Scanline:", 1044, 352, 204, 31, 8
 EDITTEXT 501, 384, 204, 15, 12, ES_UPPERCASE | ES_READONLY | ES_WANTRETURN | NOT WS_BORDER, WS_EX_TRANSPARENT
 LTEXT "Pixel:", 1045, 352, 217, 19, 8
 EDITTEXT 504, 373, 217, 26, 12, ES_UPPERCASE | ES_READONLY | ES_WANTRETURN | NOT WS_BORDER | NOT WS_TABSTOP, WS_EX_TRANSPARENT
 LTEXT "Ciclos CPU:", 1046, 407, 179, 40, 8
 EDITTEXT 503, 450, 179, 47, 12, ES_NOHIDESEL | ES_READONLY | ES_WANTRETURN | NOT WS_BORDER | NOT WS_TABSTOP, WS_EX_TRANSPARENT
 EDITTEXT 505, 501, 179, 54, 12, ES_READONLY | ES_WANTRETURN | NOT WS_BORDER | NOT WS_TABSTOP, WS_EX_TRANSPARENT
 AUTOCHECKBOX "Romper al exceder", 117, 418, 191, 78, 10
 EDITTEXT 313, 497, 190, 55, 12, ES_UPPERCASE | ES_NOHIDESEL | ES_WANTRETURN | ES_NUMBER
 LTEXT "Instrucciones:", 1047, 405, 204, 43, 8
 EDITTEXT 506, 449, 204, 47, 12, ES_NOHIDESEL | ES_READONLY | ES_WANTRETURN | NOT WS_BORDER | NOT WS_TABSTOP, WS_EX_TRANSPARENT
 EDITTEXT 507, 500, 204, 55, 12, ES_READONLY | ES_WANTRETURN | NOT WS_BORDER | NOT WS_TABSTOP, WS_EX_TRANSPARENT
 AUTOCHECKBOX "Romper al exceder", 119, 418, 216, 78, 10
 EDITTEXT 314, 497, 215, 55, 12, ES_UPPERCASE | ES_NOHIDESEL | ES_WANTRETURN | ES_NUMBER
 GROUPBOX "Direcciones fav.", 45535, 349, 228, 121, 88
 LISTBOX 701, 354, 238, 78, 73, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 EDITTEXT 312, 437, 238, 28, 14, ES_AUTOHSCROLL
 PUSHBUTTON "Agrega", 112, 436, 256, 30, 14
 PUSHBUTTON "Borra", 113, 436, 273, 30, 14
 PUSHBUTTON "Edita", 118, 436, 290, 30, 14
 PUSHBUTTON "Conteos Reset", 116, 479, 229, 68, 14
 GROUPBOX "", 1048, 474, 241, 77, 75
 AUTOCHECKBOX "ROM offsets", 209, 479, 249, 62, 10
 AUTOCHECKBOX "Depura simbólico", 208, 479, 261, 62, 10
 AUTOCHECKBOX "Nombres Registro", 1204, 479, 272, 65, 10
 PUSHBUTTON "Recarga símbolos", 111, 480, 283, 64, 14
 PUSHBUTTON "Parchea Rom", 602, 480, 299, 64, 14
 CONTROL "", 502, "STATIC", SS_LEFTNOWORDWRAP | WS_GROUP, 4, 319, 341, 11
 EDITTEXT 303, 4, 5, 14, 312, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_DISABLED
 AUTOCHECKBOX "Abrir al cargar ROM", 1203, 361, 319, 90, 10
 AUTOCHECKBOX "Cargar .DEB", 1258, 455, 319, 58, 10
 AUTOCHECKBOX "Fuente IDA", 1305, 514, 319, 42, 10
}
