DIRCONFIG DIALOGEX 63, 7, 305, 255, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Configuración de directorios"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 LTEXT "&Carpeta base", -1, 10, 10, 47, 8
 EDITTEXT 113, 71, 9, 158, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Examinar...", 213, 239, 8, 56, 14
 LTEXT "&Roms", -1, 10, 28, 19, 8
 EDITTEXT 100, 71, 27, 158, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Examinar...", 200, 239, 26, 56, 14
 LTEXT "Saves &Batería", -1, 10, 46, 45, 8
 EDITTEXT 101, 71, 45, 158, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Examinar...", 201, 239, 44, 56, 14
 LTEXT "&Save States", -1, 10, 64, 41, 9
 EDITTEXT 102, 71, 63, 158, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Examinar...", 202, 239, 62, 56, 14
 LTEXT "&FDS Bios Rom", -1, 10, 82, 47, 8
 EDITTEXT 103, 71, 81, 158, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Examinar...", 203, 239, 80, 56, 14
 LTEXT "Capt&uras", -1, 10, 100, 40, 8
 EDITTEXT 104, 71, 99, 158, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Examinar...", 204, 239, 98, 56, 14
 LTEXT "&Trucos", -1, 10, 118, 23, 8
 EDITTEXT 105, 71, 117, 158, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Examinar...", 205, 239, 116, 56, 14
 LTEXT "&Películas", -1, 10, 136, 34, 8
 EDITTEXT 106, 71, 135, 158, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Examinar...", 206, 239, 134, 56, 14
 LTEXT "Bús. memoria", -1, 10, 154, 52, 9
 EDITTEXT 107, 71, 153, 158, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Examinar...", 207, 239, 152, 56, 14
 LTEXT "Per. entrada", -1, 10, 172, 42, 8
 EDITTEXT 110, 71, 171, 158, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Examinar...", 210, 239, 170, 56, 14
 LTEXT "Scripts &Lua", -1, 10, 190, 36, 8
 EDITTEXT 111, 71, 189, 158, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Examinar...", 211, 239, 188, 56, 14
 LTEXT "Salida A&vi", -1, 10, 208, 34, 8
 EDITTEXT 112, 71, 207, 158, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Examinar...", 212, 239, 206, 56, 14
 DEFPUSHBUTTON "Aceptar", 1, 175, 230, 56, 14
 PUSHBUTTON "Cancelar", 800, 239, 230, 56, 14
}
