DWBDIALOG DIALOGEX 33, 99, 250, 53, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "DWB!"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 PUSHBUTTON "Pulsa una tecla o un botón", 100, 7, 5, 235, 20
 PUSHBUTTON "Limpiar", 200, 68, 32, 50, 14
 PUSHBUTTON "Cancelar", 800, 130, 32, 50, 14
 PUSHBUTTON "Aceptar", 1503, 192, 32, 50, 14
}
