GGCONV DIALOGEX 84, 67, 186, 146, 0
STYLE DS_SYSMODAL | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Codif./Decodif. Game Genie"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "Código Game Genie", -1, 107, 5, 69, 42
 EDITTEXT 1000, 115, 22, 53, 14, ES_UPPERCASE | ES_AUTOHSCROLL
 PUSHBUTTON "Añadir a lista", 1005, 108, 58, 68, 14, WS_DISABLED
 GROUPBOX "Dirección/Comparar/Valor", 65534, 9, 5, 91, 75
 LTEXT "Dirección:", 65533, 18, 24, 35, 8
 EDITTEXT 1501, 50, 21, 36, 14, ES_UPPERCASE | ES_AUTOHSCROLL
 LTEXT "Compara:", 65532, 17, 41, 37, 8
 EDITTEXT 1002, 64, 38, 22, 14, ES_UPPERCASE | ES_AUTOHSCROLL
 LTEXT "Valor:", 65531, 18, 58, 32, 8
 EDITTEXT 1003, 64, 56, 22, 14, ES_UPPERCASE | ES_AUTOHSCROLL
 GROUPBOX "Direcciones del .ROM posiblemente afectadas", 65530, 8, 83, 169, 58
 LISTBOX 1004, 67, 95, 54, 40, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_TABSTOP
}
