IDD_RECORDINP DIALOGEX 0, 0, 276, 86, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Entrada de grabación"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "", 65501, 3, 0, 269, 60
 RTEXT "&Archi.:", 65500, 28, 11, 24, 10, SS_CENTERIMAGE | NOT WS_GROUP, WS_EX_RIGHT
 EDITTEXT 200, 55, 10, 189, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 201, 249, 10, 18, 14
 RTEXT "&Grabar de:", 65498, 9, 27, 43, 8, 0, WS_EX_RIGHT
 COMBOBOX 301, 55, 25, 189, 154, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "&Autor:", 65502, 18, 43, 34, 10, SS_CENTERIMAGE | NOT WS_GROUP, WS_EX_RIGHT
 EDITTEXT 1180, 55, 41, 189, 14, ES_AUTOHSCROLL
 DEFPUSHBUTTON "Aceptar", 1, 167, 66, 50, 14
 PUSHBUTTON "Cancelar", 2, 221, 66, 50, 14
}
