IDD_REPLAY_METADATA DIALOGEX 0, 0, 325, 250, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Metadatos de película"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Cerrar", 2, 268, 229, 50, 14
 CONTROL "", 1130, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00008801, 7, 7, 311, 214
}
