IMPORTBOOKMARKOPTIONDIALOG DIALOGEX 0, 0, 144, 110, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Importación de marcadores"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 AUTORADIOBUTTON "&Fusionar en mis marcadores", 1117, 7, 6, 129, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "&Descartar todos mis marcadores", 1114, 7, 60, 126, 14, NOT WS_TABSTOP
 GROUPBOX "Resolviendo conflictos", 1125, 7, 19, 130, 38
 LTEXT "&Marcador:", 1123, 14, 30, 36, 8
 AUTORADIOBUTTON "&Ignorar", 1116, 53, 29, 35, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "&Sobrees.", 1115, 89, 29, 45, 10, NOT WS_TABSTOP
 LTEXT "Ata&jo:", 1124, 14, 43, 31, 8
 AUTORADIOBUTTON "&Guardar", 1119, 53, 42, 34, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "&Reasigna", 1118, 89, 42, 44, 10, NOT WS_TABSTOP
 AUTOCHECKBOX "&Confirmar en caso de conflicto", 1121, 7, 76, 130, 10, BS_MULTILINE
 DEFPUSHBUTTON "Aceptar", 1, 34, 89, 50, 14
 PUSHBUTTON "Cancelar", 2, 87, 89, 50, 14
}
