INPUTCONFIG DIALOGEX 122, 105, 349, 199, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Configuración de entrada"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "Puerto 1:", 102, 20, 31, 152, 50
 COMBOBOX 104, 27, 57, 74, 60, CBS_DROPDOWNLIST | WS_VSCROLL
 DEFPUSHBUTTON "Configurar", 106, 109, 40, 56, 14
 GROUPBOX "Puerto 2:", 103, 176, 31, 162, 50
 COMBOBOX 105, 183, 57, 84, 60, CBS_DROPDOWNLIST | WS_VSCROLL
 DEFPUSHBUTTON "Configurar", 107, 275, 40, 56, 14
 GROUPBOX "Puertos de entrada estilo NES", 108, 10, 8, 328, 83
 GROUPBOX "Puesto de expansión Famicom:", 109, 176, 93, 162, 50
 COMBOBOX 110, 183, 122, 84, 60, CBS_DROPDOWNLIST | WS_VSCROLL
 DEFPUSHBUTTON "Configurar", 111, 275, 105, 56, 14
 CONTROL "", 65487, "STATIC", SS_BLACKFRAME, 27, 41, 74, 12
 CONTROL "", 65486, "STATIC", SS_BLACKFRAME, 183, 41, 84, 12
 CONTROL "", 65485, "STATIC", SS_BLACKFRAME, 183, 106, 84, 12
 CTEXT "", 200, 30, 42, 68, 10
 CTEXT "", 201, 186, 42, 78, 10
 CTEXT "", 202, 186, 107, 78, 10
 PUSHBUTTON "Establecer", 112, 19, 157, 45, 13
 LTEXT "no asignado", 115, 71, 159, 87, 8
 PUSHBUTTON "Limpiar", 114, 19, 172, 45, 13
 LTEXT "no asignado", 116, 71, 174, 87, 8
 DEFPUSHBUTTON "Cerrar", 1, 275, 177, 56, 14
 GROUPBOX "Perfiles de entrada", 113, 10, 93, 162, 50
 AUTOCHECKBOX "Permitir Izquierda+Derecha / Arriba+Abajo", 1117, 183, 157, 197, 10
 PUSHBUTTON "Establece", 1119, 34, 103, 37, 11
 PUSHBUTTON "Establece", 1120, 34, 115, 37, 11
 PUSHBUTTON "Establece", 1121, 34, 127, 37, 11
 PUSHBUTTON "Importar", 1122, 84, 103, 37, 11
 PUSHBUTTON "Importar", 1123, 84, 115, 37, 11
 PUSHBUTTON "Importar", 1124, 84, 127, 37, 11
 PUSHBUTTON "Exportar", 1125, 123, 103, 37, 11
 PUSHBUTTON "Exportar", 1126, 123, 115, 37, 11
 PUSHBUTTON "Exportar", 1127, 123, 127, 37, 11
 GROUPBOX "Mantener automáticamente (Auto-Hold)", 118, 10, 146, 162, 46
 GROUPBOX "Emulación", 119, 176, 146, 162, 25
 CTEXT "1", -1, 18, 105, 8, 8
 CTEXT "2", -1, 18, 116, 8, 8
 CTEXT "3", -1, 18, 128, 8, 8
 AUTOCHECKBOX "Conectar four-score (4 gamepads)", 401, 18, 18, 142, 12, NOT WS_TABSTOP
 AUTOCHECKBOX "Reemplazar Start del puerto 2 con micrófono ", 407, 174, 18, 165, 12, NOT WS_TABSTOP
}
