LCDCOMPZAPPERDIALOG DIALOGEX 4, 109, 129, 116, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Configuración de Zapper"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 DEFPUSHBUTTON "Cerrar", 1, 13, 94, 56, 14
 GROUPBOX "Zapper", 312, 8, 7, 118, 75, WS_GROUP
 PUSHBUTTON "Gatillo", 300, 15, 38, 30, 12
 PUSHBUTTON "Sensor de luz", 301, 14, 19, 98, 12
}
