MAPINPUT DIALOGEX 0, 0, 318, 294, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Atajos de teclado"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 261, 274, 50, 14
 PUSHBUTTON "Cancelar", 800, 205, 274, 50, 14
 CONTROL "List2", 1003, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00000001, 7, 7, 304, 243
 PUSHBUTTON "Restaurar por defecto", 200, 7, 274, 75, 14
 RTEXT "Filtro:", 65484, 6, 255, 21, 12, SS_CENTERIMAGE | NOT WS_GROUP
 COMBOBOX 300, 32, 255, 279, 193, CBS_DROPDOWNLIST | WS_VSCROLL
}
