MEMVIEWFIND DIALOGEX 0, 0, 282, 81, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Encontrar"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "Encontrar:", -1, 7, 9, 38, 8
 EDITTEXT 1000, 47, 7, 171, 14, ES_AUTOHSCROLL
 GROUPBOX "Tipo", -1, 83, 29, 187, 45
 AUTORADIOBUTTON "&Hexadecimal", 1001, 93, 43, 59, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "&Texto (Usa tabla cargada como referencia)", 1002, 93, 56, 172, 10, NOT WS_TABSTOP
 GROUPBOX "Dirección", -1, 9, 29, 65, 44
 AUTORADIOBUTTON "&Arriba", 1003, 18, 43, 30, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "A&bajo", 1004, 18, 56, 35, 10, NOT WS_TABSTOP
 DEFPUSHBUTTON "&Próximo", 1005, 225, 7, 50, 14
}
