MESSAGELOG DIALOGEX 33, 38, 197, 229, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Registro de mensajes"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 EDITTEXT 100, 1, 1, 194, 208, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
 PUSHBUTTON "Limpiar", 40569, 94, 211, 47, 14
 PUSHBUTTON "Cerrar", 40570, 146, 211, 47, 14
}
