MONITOR DIALOGEX 0, 0, 316, 343, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Filtro de RAM"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Reglas", -1, 7, 7, 295, 182
 GROUPBOX "Resultados", -1, 10, 193, 292, 135
 LTEXT "1ª regla", -1, 16, 20, 40, 8
 LTEXT "2ª regla", -1, 16, 36, 40, 8
 LTEXT "3ª regla", -1, 16, 55, 40, 8
 LTEXT "4ª regla", -1, 16, 71, 40, 8
 LTEXT "5ª regla", -1, 16, 89, 40, 8
 COMBOBOX 3000, 66, 17, 135, 85, CBS_DROPDOWNLIST
 COMBOBOX 3001, 66, 34, 135, 90, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 3002, 66, 50, 135, 97, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 3003, 66, 68, 135, 101, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 3004, 66, 84, 135, 122, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3010, 208, 18, 26, 12, ES_AUTOHSCROLL
 EDITTEXT 3011, 208, 34, 26, 13, ES_AUTOHSCROLL
 EDITTEXT 3012, 208, 50, 26, 12, ES_AUTOHSCROLL
 EDITTEXT 3013, 208, 68, 26, 13, ES_AUTOHSCROLL
 EDITTEXT 3014, 208, 84, 26, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Aplicar regla", 3021, 240, 34, 50, 13
 PUSHBUTTON "Aplicar regla", 3022, 240, 50, 50, 14
 PUSHBUTTON "Aplicar regla", 3023, 240, 68, 50, 14
 PUSHBUTTON "Aplicar regla", 3024, 240, 84, 50, 14
 LISTBOX 3100, 18, 206, 272, 102, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_TABSTOP
 PUSHBUTTON "Aplicar regla", 3020, 240, 17, 50, 14
 LTEXT "6ª regla", -1, 16, 105, 40, 8
 COMBOBOX 3005, 66, 102, 135, 122, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3015, 208, 102, 26, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Aplicar regla", 3025, 240, 102, 50, 14
 LTEXT "7ª regla", -1, 16, 121, 40, 8
 COMBOBOX 3006, 66, 119, 135, 122, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3016, 208, 119, 26, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Aplicar regla", 3026, 240, 119, 50, 14
 LTEXT "9ª regla", -1, 16, 156, 40, 8
 COMBOBOX 3008, 66, 153, 135, 122, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3018, 208, 153, 26, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Aplicar regla", 3028, 240, 153, 50, 14
 LTEXT "8ª regla", -1, 16, 140, 40, 8
 COMBOBOX 3007, 66, 135, 135, 122, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3017, 208, 135, 26, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Aplicar regla", 3027, 240, 135, 50, 14
 LTEXT "10ª regla", -1, 16, 172, 40, 8
 COMBOBOX 3009, 66, 169, 135, 85, CBS_DROPDOWNLIST | WS_VSCROLL
 EDITTEXT 3019, 208, 170, 26, 12, ES_AUTOHSCROLL
 PUSHBUTTON "Aplicar regla", 3029, 240, 169, 50, 14
 LTEXT "Nº de resultados:", -1, 19, 313, 60, 8
 LTEXT "", 3101, 90, 313, 60, 8
}
