NAMEBOOKMARKDLGDEBUGGER DIALOGEX 0, 0, 268, 67, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Marcador del depurador"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "&Dirección:", 65533, 8, 10, 30, 8
 EDITTEXT 1001, 41, 7, 48, 14, ES_UPPERCASE | ES_AUTOHSCROLL
 LTEXT "&Nombre:", 65532, 8, 28, 26, 8
 EDITTEXT 1000, 41, 26, 220, 14, ES_AUTOHSCROLL
 DEFPUSHBUTTON "Aceptar", 1, 82, 46, 50, 14
 PUSHBUTTON "Cancelar", 2, 136, 46, 50, 14
}
