NAMEBOOKMARKDLGMEMVIEW DIALOGEX 0, 0, 425, 85, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Favoritos de editor hexadecimal (marcadores)"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "&Ver:", 1110, 11, 10, 20, 8
 COMBOBOX 1112, 34, 7, 36, 30, CBS_DROPDOWNLIST | CBS_SORT
 LTEXT "&Dirección:", 65533, 77, 10, 30, 8
 EDITTEXT 1001, 110, 7, 48, 14, ES_UPPERCASE | ES_AUTOHSCROLL
 LTEXT "&Nomb.:", 65532, 166, 10, 23, 8
 EDITTEXT 1000, 190, 7, 228, 14, ES_AUTOHSCROLL
 AUTOCHECKBOX "&Atajo:", 1013, 10, 27, 42, 10
 LTEXT "Ctrl+", 65534, 55, 27, 17, 8
 AUTORADIOBUTTON "&1", 1109, 78, 26, 28, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&2", 1100, 112, 26, 28, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&3", 1101, 146, 26, 28, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&4", 1102, 180, 26, 28, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&5", 1103, 214, 26, 28, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&6", 1104, 248, 26, 28, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&7", 1105, 282, 26, 28, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&8", 1106, 316, 26, 28, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&9", 1107, 350, 26, 28, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&0", 1108, 384, 26, 28, 10, NOT WS_TABSTOP
 EDITTEXT 1016, 78, 38, 34, 21, ES_MULTILINE | ES_UPPERCASE | ES_AUTOVSCROLL | ES_READONLY
 EDITTEXT 1017, 112, 38, 34, 21, ES_MULTILINE | ES_UPPERCASE | ES_AUTOVSCROLL | ES_READONLY
 EDITTEXT 1018, 146, 38, 34, 21, ES_MULTILINE | ES_UPPERCASE | ES_AUTOVSCROLL | ES_READONLY
 EDITTEXT 1025, 180, 38, 34, 21, ES_MULTILINE | ES_UPPERCASE | ES_AUTOVSCROLL | ES_READONLY
 EDITTEXT 1023, 214, 38, 34, 21, ES_MULTILINE | ES_UPPERCASE | ES_AUTOVSCROLL | ES_READONLY
 EDITTEXT 1022, 248, 38, 34, 21, ES_MULTILINE | ES_UPPERCASE | ES_AUTOVSCROLL | ES_READONLY
 EDITTEXT 1020, 282, 38, 34, 21, ES_MULTILINE | ES_UPPERCASE | ES_AUTOVSCROLL | ES_READONLY
 EDITTEXT 1019, 316, 38, 34, 21, ES_MULTILINE | ES_UPPERCASE | ES_AUTOVSCROLL | ES_READONLY
 EDITTEXT 1024, 350, 38, 34, 21, ES_MULTILINE | ES_UPPERCASE | ES_AUTOVSCROLL | ES_READONLY
 EDITTEXT 1021, 384, 38, 34, 21, ES_MULTILINE | ES_UPPERCASE | ES_AUTOVSCROLL | ES_READONLY
 DEFPUSHBUTTON "Aceptar", 1, 160, 64, 50, 14
 PUSHBUTTON "Cancelar", 2, 219, 64, 50, 14
}
