NETMOO DIALOGEX 44, 59, 365, 209, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Juego en red"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 EDITTEXT 102, 10, 137, 347, 12, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_OEMCONVERT | ES_WANTRETURN
 EDITTEXT 101, 10, 8, 347, 130, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
 RTEXT "Host remoto:", 65481, 13, 167, 44, 8
 EDITTEXT 200, 60, 165, 90, 12
 EDITTEXT 201, 151, 165, 27, 12
 GROUPBOX "Settings", 100, 10, 154, 347, 47, WS_GROUP
 DEFPUSHBUTTON "Conectar", 250, 296, 163, 56, 14
 EDITTEXT 203, 282, 182, 70, 12, ES_AUTOHSCROLL
 RTEXT "Juga. locales:", 65480, 187, 167, 46, 8
 RTEXT "Alias/Nick:", 65479, 238, 184, 40, 8
 COMBOBOX 204, 238, 165, 28, 51, CBS_DROPDOWNLIST
 RTEXT "Game Key:", 65478, 127, 184, 39, 8
 EDITTEXT 205, 169, 182, 67, 12
 RTEXT "Clave:", 65477, 19, 184, 37, 8
 EDITTEXT 206, 60, 182, 67, 12, ES_PASSWORD
}
