PALCONFIG DIALOGEX 16, 81, 228, 217, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Configuración de Paleta"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "Paleta NES", 302, 10, 8, 102, 81, WS_GROUP
 DEFPUSHBUTTON "&Cargar Paleta...", 200, 18, 39, 58, 14
 AUTOCHECKBOX "Activado", 100, 122, 22, 87, 12
 CTEXT "Tinte", 65463, 123, 34, 85, 8, WS_DISABLED
 CONTROL "Tinte", 500, "msctls_trackbar32", WS_DISABLED | WS_TABSTOP, 121, 44, 91, 11
 GROUPBOX "Emulación de color NTSC", 101, 115, 8, 103, 81, WS_GROUP
 CTEXT "Matiz", 64395, 124, 59, 85, 8, WS_DISABLED
 CONTROL "Matiz", 501, "msctls_trackbar32", WS_DISABLED | WS_TABSTOP, 121, 69, 91, 11
 AUTOCHECKBOX "Forzar escala de grises", 102, 19, 57, 85, 12
 AUTOCHECKBOX "Usar paleta propia", 104, 19, 22, 85, 12
 GROUPBOX "Simulación PAL", -1, 10, 89, 208, 66
 LTEXT "Saturación:", 1294, 83, 100, 58, 8
 CONTROL "", 1291, "msctls_trackbar32", WS_TABSTOP | 0x00000010, 78, 110, 70, 15
 PUSHBUTTON "Resetear", 201, 161, 132, 50, 14
 LTEXT "Notch/Corte:", 1296, 16, 100, 46, 8
 CONTROL "", 1295, "msctls_trackbar32", WS_TABSTOP | 0x00000010, 11, 110, 68, 15
 LTEXT "Nitidez:", 1298, 151, 99, 60, 8
 CONTROL "", 1297, "msctls_trackbar32", WS_TABSTOP | 0x00000010, 146, 109, 71, 15
 LTEXT "La emulación de color NTSC anula la paleta predeter. interna.\nPaleta de juego Individual ignora Internas+NTSC.\nPaleta custom ignora todo lo anterior.\nSimulación PAL ignora otras opciones si el filtro PAL está activo.", -1, 10, 159, 208, 43
 LTEXT "Contraste:", 1300, 16, 126, 55, 8
 CONTROL "", 1299, "msctls_trackbar32", WS_TABSTOP | 0x00000010, 11, 134, 67, 15
 LTEXT "Brillo: ", 1302, 83, 125, 61, 8
 CONTROL "", 1301, "msctls_trackbar32", WS_TABSTOP | 0x00000010, 78, 133, 70, 15
 AUTOCHECKBOX "Desénfasis de bitswap", 1203, 19, 73, 83, 10
 DEFPUSHBUTTON "Cerrar", 1, 162, 195, 56, 14
}
