POWERPADDIALOG DIALOGEX 30, 123, 131, 119, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Configuración Power Pad"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 DEFPUSHBUTTON "Cerrar", 1, 34, 95, 56, 14
 GROUPBOX "", 312, 8, 10, 114, 74, WS_GROUP
 PUSHBUTTON "1", 300, 21, 23, 16, 12
 PUSHBUTTON "2", 301, 43, 23, 16, 12
 PUSHBUTTON "3", 302, 70, 23, 16, 12
 PUSHBUTTON "4", 303, 91, 23, 16, 12
 PUSHBUTTON "5", 304, 21, 41, 16, 12
 PUSHBUTTON "6", 305, 43, 41, 16, 12
 PUSHBUTTON "7", 306, 70, 41, 16, 12
 PUSHBUTTON "8", 307, 91, 41, 16, 12
 PUSHBUTTON "9", 308, 21, 59, 16, 12
 PUSHBUTTON "10", 309, 43, 59, 16, 12
 PUSHBUTTON "11", 310, 70, 59, 16, 12
 PUSHBUTTON "12", 311, 91, 59, 16, 12
}
