QUIZKINGDIALOG DIALOGEX 30, 123, 160, 74, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Quiz King"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 DEFPUSHBUTTON "Cerrar", 1, 54, 56, 56, 14
 GROUPBOX "Timbres (Buzzers)", 312, 8, 7, 144, 39, WS_GROUP
 PUSHBUTTON "1", 300, 16, 23, 16, 12
 PUSHBUTTON "2", 301, 38, 23, 16, 12
 PUSHBUTTON "3", 302, 60, 23, 16, 12
 PUSHBUTTON "4", 303, 82, 23, 16, 12
 PUSHBUTTON "5", 304, 104, 23, 16, 12
 PUSHBUTTON "6", 305, 126, 23, 16, 12
}
