ROMPATCHER DIALOGEX 84, 67, 304, 135, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Editor de datos de Rom"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 EDITTEXT 105, 7, 47, 282, 12, ES_READONLY
 PUSHBUTTON "Aplicar", 110, 185, 92, 54, 14
 PUSHBUTTON "Salvar desde .ROM", 111, 4, 114, 65, 14, WS_DISABLED
 EDITTEXT 109, 7, 93, 172, 13, ES_AUTOHSCROLL
 GROUPBOX "Datos actuales en el Offset", 104, 3, 36, 292, 43
 GROUPBOX "Offset", 100, 4, 4, 291, 27
 EDITTEXT 102, 83, 12, 47, 14, ES_AUTOHSCROLL
 AUTOCHECKBOX "Dir. archivo .Nes", 101, 10, 14, 71, 10
 PUSHBUTTON "Edita este Offset", 103, 135, 12, 65, 14
 LTEXT "Desensambla: ", 106, 7, 63, 45, 12
 EDITTEXT 107, 56, 62, 234, 14, ES_AUTOHSCROLL | ES_READONLY
 GROUPBOX "Parchear datos", 108, 3, 81, 292, 30
}
