SOUNDCONFIG DIALOGEX 8, 95, 334, 282, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Configuración de sonido"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 DEFPUSHBUTTON "Cerrar", 1, 280, 260, 44, 14
 GROUPBOX "Formato Salida/Entrada:", 302, 10, 9, 131, 93, WS_GROUP
 AUTOCHECKBOX "Sonido habilitado.", 126, 17, 22, 117, 12
 GROUPBOX "Almacenamiento de búfer:", 127, 150, 9, 131, 93, WS_GROUP
 AUTOCHECKBOX "Usar foco global", 124, 157, 22, 100, 12
 CTEXT "Latencia de sonido", 65459, 162, 50, 107, 8
 CONTROL "", 128, "msctls_trackbar32", WS_TABSTOP, 162, 70, 107, 13
 GROUPBOX "Principal", 125, 19, 142, 44, 93, WS_GROUP
 CONTROL "", 500, "msctls_trackbar32", WS_TABSTOP | 0x0000000B, 27, 150, 28, 83
 LTEXT "15 ms", 65458, 160, 87, 20, 8
 LTEXT "200 ms", 65457, 250, 87, 25, 8
 LTEXT "ms", 65456, 211, 60, 19, 8
 LTEXT "Calidad:", 65455, 17, 43, 27, 10
 COMBOBOX 129, 50, 40, 67, 46, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Frecu.:", 65461, 17, 64, 22, 10
 COMBOBOX 200, 50, 61, 53, 46, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Hz", 65460, 108, 64, 15, 9
 LTEXT "Profun.:", 65462, 17, 85, 27, 10
 COMBOBOX 122, 50, 82, 67, 45, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Silenciar avance cuadro", 130, 10, 110, 87, 11
 AUTOCHECKBOX "Mutea Turbo", 1179, 138, 111, 53, 10
 GROUPBOX "Triangle", 131, 70, 142, 44, 93, WS_GROUP
 CONTROL "", 501, "msctls_trackbar32", WS_TABSTOP | 0x0000000B, 78, 150, 28, 83
 GROUPBOX "Square1", 132, 121, 142, 44, 93, WS_GROUP
 CONTROL "", 502, "msctls_trackbar32", WS_TABSTOP | 0x0000000B, 129, 150, 28, 83
 GROUPBOX "Square2", 133, 170, 142, 44, 93, WS_GROUP
 CONTROL "", 503, "msctls_trackbar32", WS_TABSTOP | 0x0000000B, 178, 150, 28, 83
 GROUPBOX "Ruido", 134, 221, 142, 44, 93, WS_GROUP
 CONTROL "", 504, "msctls_trackbar32", WS_TABSTOP | 0x0000000B, 229, 150, 28, 83
 GROUPBOX "PCM", 135, 271, 142, 44, 93, WS_GROUP
 CONTROL "", 505, "msctls_trackbar32", WS_TABSTOP | 0x0000000B, 279, 150, 28, 83
 GROUPBOX "Volume Control", 1204, 10, 127, 314, 127
 PUSHBUTTON "Predeterminado", 1133, 19, 238, 56, 11
 LTEXT "", 1201, 76, 135, 38, 8
 LTEXT "", 1202, 170, 133, 144, 8
 AUTOCHECKBOX "Intercambia ciclos trabajo", 1203, 239, 110, 98, 10
}
