TASEDITOR DIALOGEX 0, 0, 326, 348, 0
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_OVERLAPPEDWINDOW | WS_POPUPWINDOW | WS_VISIBLE
MENU "TASEDITORMENU"
CAPTION "Editor TAS"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CONTROL "", 1144, "BUTTON", BS_OWNERDRAW, 200, 36, 116, 12
 CONTROL "", 1152, "BUTTON", BS_OWNERDRAW, 207, 167, 104, 10
 CONTROL "", 1130, "SysListView32", WS_BORDER | 0x00009809, 5, 13, 187, 316
 GROUPBOX " Reproduce ", 1275, 197, 0, 123, 62, BS_CENTER, WS_EX_RIGHT
 GROUPBOX " Grabadora ", 1276, 197, 63, 123, 46, BS_CENTER, WS_EX_RIGHT
 GROUPBOX " Montador ", 1277, 197, 110, 123, 30, BS_CENTER, WS_EX_RIGHT
 GROUPBOX " Lua ", 1278, 197, 141, 123, 26, BS_CENTER, WS_EX_RIGHT
 GROUPBOX " Marcadores ", 1264, 197, 168, 123, 102, BS_CENTER, WS_EX_RIGHT
 GROUPBOX " Historial ", 1279, 197, 271, 123, 53, BS_CENTER, WS_EX_RIGHT
 PUSHBUTTON "<<", 1135, 201, 9, 23, 14, NOT WS_TABSTOP
 PUSHBUTTON "<", 1133, 224, 9, 23, 14, NOT WS_TABSTOP
 PUSHBUTTON "||", 1137, 247, 9, 23, 14, NOT WS_TABSTOP
 PUSHBUTTON ">", 1134, 270, 9, 23, 14, NOT WS_TABSTOP
 PUSHBUTTON ">>", 1136, 293, 9, 23, 14, NOT WS_TABSTOP
 CONTROL "", 1262, "msctls_progress32", WS_BORDER | 0x00000001, 201, 39, 115, 6
 AUTOCHECKBOX " Sigue cursor", 1263, 203, 25, 56, 12, NOT WS_TABSTOP
 AUTOCHECKBOX " Auto-restaura ultima pos", 1261, 203, 48, 109, 12, NOT WS_TABSTOP
 CONTROL "", 1150, "SysListView32", NOT WS_VISIBLE | WS_BORDER | 0x0000F805, 202, 177, 113, 89
 CONTROL "", 1149, "SysListView32", WS_BORDER | 0x0000D88D, 202, 280, 113, 40
 AUTORADIOBUTTON " Todo", 1139, 291, 71, 24, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON " 1P", 1140, 203, 83, 25, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON " 2P", 1141, 232, 83, 25, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON " 3P", 1142, 262, 83, 24, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON " 4P", 1143, 291, 83, 24, 10, NOT WS_TABSTOP
 AUTO3STATE " Superimpose", 1203, 203, 96, 55, 10, NOT WS_TABSTOP
 PUSHBUTTON "<<", 1145, 202, 328, 23, 14, NOT WS_TABSTOP
 PUSHBUTTON "Similar", 1146, 225, 328, 34, 14, NOT WS_TABSTOP
 PUSHBUTTON "Más", 1148, 259, 328, 34, 14, NOT WS_TABSTOP
 PUSHBUTTON ">>", 1151, 292, 328, 23, 14, NOT WS_TABSTOP
 EDITTEXT 1154, 65, 0, 127, 13, ES_AUTOHSCROLL | ES_READONLY | NOT WS_TABSTOP
 RTEXT "Marca 0", 1270, 3, 2, 60, 10, SS_NOTIFY, WS_EX_RIGHT
 EDITTEXT 1147, 65, 329, 127, 13, ES_AUTOHSCROLL | ES_READONLY | NOT WS_TABSTOP
 RTEXT "Marca 99999", 1271, 3, 331, 60, 10, SS_NOTIFY, WS_EX_RIGHT
 CONTROL "", 1265, "STATIC", SS_OWNERDRAW | SS_NOTIFY | SS_REALSIZEIMAGE | NOT WS_VISIBLE, 202, 177, 113, 89
 AUTOCHECKBOX " Turbo seek", 1266, 263, 25, 50, 12, NOT WS_TABSTOP
 LTEXT "Selección: 0 filas, 16 columnas", 1267, 204, 118, 112, 10, SS_NOTIFY
 LTEXT "Portapa.: 0 filas, 16 columnas", 1268, 203, 128, 114, 10, SS_NOTIFY
 AUTO3STATE " Grabación", 1204, 203, 71, 81, 10, NOT WS_TABSTOP
 PUSHBUTTON "Función Run", 1156, 202, 150, 54, 14, WS_DISABLED | NOT WS_TABSTOP
 AUTOCHECKBOX "Auto función", 1205, 261, 152, 55, 10, NOT WS_TABSTOP
 AUTOCHECKBOX " Usa patrón", 1206, 262, 96, 53, 10, NOT WS_TABSTOP
}
