TEXTHOOKER DIALOGEX 0, 0, 437, 314, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
EXSTYLE = WS_EX_ACCEPTFILES
CAPTION "Capturador/Gancho de texto"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Ventala de selección", 1, 0, 0, 183, 164, 0, WS_EX_NOPARENTNOTIFY
 EDITTEXT 102, 207, 13, 216, 94, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | NOT WS_BORDER | WS_VSCROLL, WS_EX_NOPARENTNOTIFY | WS_EX_CLIENTEDGE
 GROUPBOX "Texto capturado", 103, 200, 0, 229, 131, 0, WS_EX_NOPARENTNOTIFY
 PUSHBUTTON "Cargar tabla", 104, 3, 169, 60, 14, 0, WS_EX_NOPARENTNOTIFY
 PUSHBUTTON "Limpiar selección", 105, 67, 169, 60, 14, 0, WS_EX_NOPARENTNOTIFY
 PUSHBUTTON "Pausa", 106, 67, 190, 60, 14, 0, WS_EX_NOPARENTNOTIFY
 PUSHBUTTON "Instántanea", 107, 130, 169, 60, 35, 0, WS_EX_NOPARENTNOTIFY
 PUSHBUTTON "Limpiar búfer", 108, 208, 111, 60, 14, 0, WS_EX_NOPARENTNOTIFY
 EDITTEXT 111, 5, 249, 115, 14, ES_AUTOHSCROLL | NOT WS_BORDER, WS_EX_NOPARENTNOTIFY | WS_EX_CLIENTEDGE
 PUSHBUTTON "Salvar selección", 112, 130, 249, 60, 14, 0, WS_EX_NOPARENTNOTIFY
 PUSHBUTTON "Salvar tabla", 113, 3, 190, 60, 14, 0, WS_EX_NOPARENTNOTIFY
 PUSHBUTTON "Cargar selección", 114, 130, 268, 60, 14, 0, WS_EX_NOPARENTNOTIFY
 GROUPBOX "Texto traducido", 115, 200, 140, 229, 117, 0, WS_EX_NOPARENTNOTIFY
 EDITTEXT 116, 207, 156, 214, 95, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | NOT WS_BORDER | WS_VSCROLL, WS_EX_NOPARENTNOTIFY | WS_EX_CLIENTEDGE
 PUSHBUTTON "Excite.co.jp", 117, 281, 111, 60, 14, 0, WS_EX_NOPARENTNOTIFY
 LTEXT "Scanline:", 118, 5, 210, 50, 8, 0, WS_EX_NOPARENTNOTIFY
 LTEXT "Actualiza cada x fotogramas:", 119, 68, 210, 95, 8, 0, WS_EX_NOPARENTNOTIFY
 EDITTEXT 120, 5, 220, 52, 14, ES_AUTOHSCROLL | NOT WS_BORDER, WS_EX_NOPARENTNOTIFY | WS_EX_CLIENTEDGE
 EDITTEXT 121, 68, 220, 52, 14, ES_AUTOHSCROLL | NOT WS_BORDER, WS_EX_NOPARENTNOTIFY | WS_EX_CLIENTEDGE
 PUSHBUTTON "Trim (recortar)", 122, 351, 111, 60, 14
 COMBOBOX 109, 5, 269, 115, 100, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Japonés:", -1, 5, 283, 47, 9
 EDITTEXT 131, 5, 292, 115, 14, ES_AUTOHSCROLL
 LTEXT "Inglés:", -1, 130, 283, 47, 9
 EDITTEXT 132, 130, 292, 115, 14, ES_AUTOHSCROLL
 PUSHBUTTON "Añade definición", 133, 253, 292, 60, 14
 AUTOCHECKBOX "Ventana de selección", 341, 324, 261, 80, 9
 AUTOCHECKBOX "Sustitución de palabra", 342, 324, 274, 85, 9
 LTEXT "Posición marca Dakuten (han):", -1, 324, 286, 150, 8
 AUTOCHECKBOX "Encima", 343, 324, 297, 37, 10
 AUTOCHECKBOX "Derecha", 344, 363, 297, 38, 10
 LTEXT "Nuevo nombre de selección", -1, 5, 240, 88, 8
}
