VIDEOCONFIG DIALOGEX -16, 76, 511, 170, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Configuiración de video"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "Ajustes de pantalla completa", 65453, 5, 3, 171, 141, WS_GROUP
 AUTOCHECKBOX "Pantalla completa (Alt + Enter o doble-click)", 101, 11, 15, 157, 12
 AUTOCHECKBOX "Pantalla completa al iniciar juego", 102, 11, 29, 154, 12
 LTEXT "Método sinc.:", 65452, 11, 108, 46, 10
 COMBOBOX 105, 59, 106, 105, 50, CBS_DROPDOWNLIST
 LTEXT "Modo:", 13, 11, 67, 23, 9
 EDITTEXT 200, 36, 65, 27, 13, ES_RIGHT | ES_NUMBER
 LTEXT "por", 12, 67, 67, 11, 9
 EDITTEXT 201, 79, 65, 27, 13, ES_RIGHT | ES_NUMBER
 LTEXT "@", 11, 110, 67, 11, 9
 COMBOBOX 202, 122, 65, 32, 12, CBS_DROPDOWNLIST
 LTEXT "bpp", 10, 157, 67, 14, 9
 LTEXT "Filtro especial:", 65444, 11, 91, 46, 9
 COMBOBOX 304, 59, 89, 105, 46, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Ajustes de ventana", 65441, 182, 3, 164, 141, WS_GROUP
 LTEXT "F. Multiplicador", 65440, 190, 22, 50, 8
 CTEXT "X:", 65439, 253, 10, 26, 8
 CTEXT "Y:", 65438, 304, 10, 26, 8
 EDITTEXT 400, 244, 20, 44, 12, ES_AUTOHSCROLL
 EDITTEXT 401, 295, 20, 44, 12, ES_AUTOHSCROLL
 AUTOCHECKBOX "Factores de escalado integrales", 402, 195, 50, 136, 12
 AUTOCHECKBOX "Forzar ratio de correción", 403, 195, 64, 136, 12
 LTEXT "Filtro especial:", 65429, 188, 91, 46, 9
 COMBOBOX 406, 236, 89, 103, 47, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Método sinc.:", 65437, 188, 108, 46, 9
 COMBOBOX 104, 236, 106, 103, 47, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Area de dibujado", 65494, 351, 50, 154, 65, WS_GROUP
 LTEXT "Primera línea", 65436, 367, 68, 50, 9
 CTEXT "NTSC", 65434, 413, 57, 27, 8
 EDITTEXT 500, 414, 66, 27, 12, ES_RIGHT | ES_NUMBER
 CTEXT "PAL/Dendy", 65433, 455, 57, 48, 8
 EDITTEXT 502, 465, 66, 27, 12, ES_RIGHT | ES_NUMBER
 LTEXT "Última línea:", 65435, 367, 84, 40, 9
 EDITTEXT 501, 414, 83, 27, 12, ES_RIGHT | ES_NUMBER
 EDITTEXT 503, 465, 83, 27, 12, ES_RIGHT | ES_NUMBER
 AUTOCHECKBOX "Recortar izq./derecha (8 px cada lado)", 106, 357, 98, 140, 12
 DEFPUSHBUTTON "Cerrar", 1281, 449, 150, 56, 14
 AUTOCHECKBOX "Permitir más de 8 sprites por scanline", 600, 357, 128, 138, 11
 GROUPBOX "Emulación", 65430, 351, 117, 154, 27, WS_GROUP
 AUTOCHECKBOX "Mejor aj.", 107, 357, 14, 41, 12
 AUTOCHECKBOX "Ocultar cursor del ratón", 103, 11, 43, 87, 12
 GROUPBOX "Ratio de aspecto", 65495, 351, 3, 154, 45, WS_GROUP
 AUTOCHECKBOX "Color BG", 108, 401, 14, 44, 12
 AUTOCHECKBOX "Aspecto TV", 109, 357, 29, 48, 12
 GROUPBOX "Al ajustar tamaño de ventana", 65431, 188, 38, 152, 43, WS_GROUP
 AUTOCHECKBOX "Pixel cuadrado", 110, 448, 14, 55, 12
 EDITTEXT 404, 407, 28, 41, 12, ES_AUTOHSCROLL | WS_DISABLED
 EDITTEXT 405, 458, 28, 41, 12, ES_AUTOHSCROLL | WS_DISABLED
 CTEXT "/", 65442, 449, 31, 8, 8, WS_DISABLED
 LTEXT "DirectDraw:", 65454, 11, 126, 46, 10
 COMBOBOX 111, 59, 123, 105, 50, CBS_DROPDOWNLIST
 LTEXT "DirectDraw:", 65455, 188, 125, 46, 10
 COMBOBOX 112, 236, 123, 103, 47, CBS_DROPDOWNLIST | WS_VSCROLL
}
