VIRTUALBOYDIALOG DIALOGEX 4, 109, 243, 121, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Configuración de Virtual Boy"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 DEFPUSHBUTTON "Cerrar", 1, 177, 97, 56, 14
 GROUPBOX "", 100, 4, 8, 232, 82, WS_GROUP
 PUSHBUTTON "Arriba", 304, 40, 36, 30, 12
 PUSHBUTTON "Izquierda", 306, 10, 50, 30, 12
 PUSHBUTTON "Derecha", 307, 70, 50, 30, 12
 PUSHBUTTON "Abajo", 305, 40, 64, 30, 12
 PUSHBUTTON "Select", 302, 46, 19, 32, 12
 PUSHBUTTON "Start", 303, 82, 19, 32, 12
 PUSHBUTTON "Izquierda", 301, 140, 50, 30, 12
 PUSHBUTTON "Abajo", 300, 170, 64, 30, 12
 PUSHBUTTON "Derecha", 308, 200, 50, 30, 12
 PUSHBUTTON "Arriba", 309, 170, 36, 30, 12
 PUSHBUTTON "L", 310, 10, 19, 32, 12
 PUSHBUTTON "R", 311, 198, 19, 32, 12
 PUSHBUTTON "B", 312, 126, 19, 32, 12
 PUSHBUTTON "A", 313, 162, 19, 32, 12
}
